# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
bin/
lib/
lib64/
share/python-wheels/
share/python-wheels/

# Installer cache
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/

# Pytest
.cache/

# Coverage
.cache/
.coverage
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# IDEs and editors
.vscode/
.idea/

# pyenv
.python-version
